<div th:fragment="nav" class="bottom-nav">
    <div class="nav-item" id="finance-nav" onclick="location.href='/finance'" data-path="/finance">
        <ion-icon name="wallet-outline"></ion-icon>
        <span>가계부</span>
    </div>

    <div class="nav-item" id="timesale-nav" onclick="location.href='/timesale'" data-path="/timesale">
        <ion-icon name="time-outline"></ion-icon>
        <span>타임세일</span>
    </div>

    <div style="width: 70px;"></div>

    <div class="nav-center-btn">
        <ion-icon name="chatbubbles"></ion-icon>
    </div>

    <div class="nav-item" id="usedmarket-nav" onclick="location.href='/used-market'" data-path="/used-market">
        <ion-icon name="cube-outline"></ion-icon>
        <span>중고거래</span>
    </div>

    <div class="nav-item" id="community-nav" onclick="location.href='/community'" data-path="/community">
        <ion-icon name="people-outline"></ion-icon>
        <span>커뮤니티</span>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            nav.init();
        });

        const nav = {
            init: () => {
                nav.evtHandler();                
                nav.changeBtnEffect(window.location.pathname);
            },
            evtHandler: () => {
                document.querySelector('.nav-center-btn').addEventListener('click', () => nav.openChat());
            },
            changeBtnEffect: (path) => {
                console.log(path);
                const getBtn = document.querySelectorAll('.nav-item');
                // console.log("네비게이션 메뉴 출력 : ", getBtn);
                getBtn.forEach(menu => {
                    const getDataPath = menu.getAttribute("data-path")
                    if (path === getDataPath) {
                        menu.classList.add('active');
                    }
                })

            },
            openChat: () => {
                const layer = document.getElementById('chatLayer');
                const container = document.getElementById('chatContainer');
                layer.classList.add('active');
            }

        }
    </script>
</div>